* {
  @include box-sizing(border-box);
}

body {
  font-family: $sans-serif-font;
  line-height: 1.4;
  color: #b3b3b3;
  background-color: #000;
}

a { 
  color: $link-color; 
  text-decoration: none;
  &:hover,
  &:focus {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

// Base form styles

label {
  display: block;
  margin-bottom: 10px;
}

// Base table styles

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

// Responsive media

img,
object,
embed {
  max-width: 100%;
}

.siteTitle {
  margin: 0 auto;
  display: block;
}

.siteImages {
  margin: 0 auto;
  display: table;
}