<div class="l-container">
<h1>{{#linkTo index classNameBindings="siteTitle"}}Tunebenders{{/linkTo}}</h1>
<hr>
<div class="row-fluid nav-container">
    <nav class="col-12">
        <ul class="nav-primary nav-horizontal">
            <li>{{#linkTo songs}}Songs{{/linkTo}}</li>
            <li>{{#linkTo schedule}}Schedule{{/linkTo}}</li>
            <li>{{#linkTo contact}}Contact Us{{/linkTo}}</li>
        </ul>
    </nav>
</div>
{{outlet}}
</div>