<div class="l-container">

{{#linkTo index classNameBindings="siteTitle"}}<img src="images/tunebenders.png" class="siteTitle">{{/linkTo}}

<div class="row-fluid nav-container">
    <nav class="col-12">
        <ul class="nav-primary nav-horizontal">
            <li>{{#linkTo songs}}Songs{{/linkTo}}</li>
            <li>{{#linkTo schedule}}Schedule{{/linkTo}}</li>
            <li>{{#linkTo contact}}Contact Us{{/linkTo}}</li>
        </ul>
    </nav>
</div>
{{outlet}}
</div>