<div class="l-container">

{{#linkTo index classNameBindings="siteTitle"}}<img src="images/tunebenders.png" class="siteTitle">{{/linkTo}}

  <div class="siteImages">

  <img src="images/pics/front1.jpg">
  <img src="images/pics/back1.jpg">
  <img src="images/pics/side2.jpg">
  <img src="images/pics/front2.jpg">
  </div>

<div class="row-fluid nav-container">
    <nav class="col-12">
        <ul class="nav-primary nav-horizontal">
            <li>{{#linkTo songs}}Songs{{/linkTo}}</li>
            <li>{{#linkTo schedule}}Schedule{{/linkTo}}</li>
            <li>{{#linkTo contact}}Contact Us{{/linkTo}}</li>
        </ul>
    </nav>
</div>
{{outlet}}
</div>