<div id="gallery" class="nivoGallery">
  <ul>
    <li><img src="images/pics/BandPic1.jpg"></li>
    <li><img src="images/pics/BandPic2.jpg"></li>
    <li><img src="images/pics/BandPic3.jpg"></li>
    <li><img src="images/pics/BandPic4.jpg"></li>
    <li><img src="images/pics/BandPic5.jpg"></li>
    <li><img src="images/pics/BandPic6.jpg"></li>
    <li><img src="images/pics/BandPic7.jpg"></li>
    <li><img src="images/pics/BandPic8.jpg"></li>
    <li><img src="images/pics/BandPic9.jpg"></li>
  </ul>
</div>
